:root {
 --mario-red: #E52521;
 --mario-blue: #049cd8;  
 --card-background: #324c57;
}

.custom-span{
    font-weight: 700;
}
.custom-title {
    color: var(--mario-blue);
}
.custom-card{
    background-color:var(--card-background);
}