:root {
 --mario-red: #E52521;
 --mario-blue: #049cd8;  
 --faded-red: #cc514f;
 --mario-brown: #824C41; 
 --mario-yellow: #FBD000;
 --card-background: #3a4c53;
 --background-color:  #eeeeee;
 --background-darker: #cecece;
}

.custom-nav{
    background-color: var(--background-color);
}

.custom-h1 {
    color: var(--mario-red);
    padding: 3%;
}
/* label focus color -- issues with the color */
input[type=text]:focus + label {
    color: #000;
  }
.custom-button{
    background-color: var(--mario-red); 
    color: var(--background-color);
}
.custom-button:hover{
    background-color: var(--mario-red);
    color: white;
}
.custom-button:focus{
    background-color: var(--faded-red);
    color: white;
}
.custom-h2{
 color: var(--mario-yellow);  
}
.custom-h1{
    color: var(--mario-red); 
    padding: 3%; 
    background-color: var(--card-text); 
}
.custom-span{
    font-weight: 700;
}
.custom-card{
    background-color:var(--card-background);
    color: var(--background-color);
    border-width: 4%;
    border-color: var(--mario-red);
}
.custom-link{
    color:var(--mario-yellow)
}
.custom-span{
    font-weight: 700;
}
.custom-background {
    background-color: var(--mario-blue);
    padding-left: 4%
}
.custom-weather {
    background-color:var(--background-darker);
}
.custom-img{
    width:min-content;
}
.hidden{
    display:none;
}
#koopa-dance{
    width: 10%;
}
.custom-footer{
    background-color: var(--mario-brown);
    color: var(--background-color);
}

li {
    list-style: none;
}
