:root {
 --mario-red: #E52521;
 --mario-blue: #049cd8;  
 --card-background: #324c57;
 --card-text: #eeeeee; 
}
.custom-h1{
    color: var(--mario-red); 
    padding: 3%; 
    background-color: var(--card-text); 
}
.custom-span{
    font-weight: 700;
}
.custom-title {
    color: var(--mario-blue);
}
.custom-card{
    background-color: var(--card-background);
    color: var(--card-text);
    border-color: var(--mario-red);
}
.custom-background{
    border-width: 3%;
    padding: 2%;
    background-color: var(--mario-red);
}
.custom-link{
    color: var(--mario-blue);
    padding: 2%;
}
#search-button{
    background-color: var(--mario-red);
    color: var(--card-text);
}

/*issues fighting default*/
#game-search, #custom-label{
    border-bottom-color: var(--card-background);
}
#game-search:focus, #custom-label:focus{
    border-bottom-color: var(--mario-red);
}